input, textarea {
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 3px;
  border: 0;
  background: var(--oc-gray-2);
  margin-bottom: 1rem;
}

textarea {
  min-height: 8rem;
  max-width: 100%;
}

label {
  font-size: 1rem;
  padding-bottom: 4px;
  line-height: 1.5rem;
  display: inline-block;
}

input[type="submit"] {
  width: 100%;
  margin-top: 8px;
  display: inline-block;
}
