.page {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  width: 100%;
  background: #efefef;
  position: relative;
}

.page aside>div {
  width: 300px;
  position: fixed;
  padding: 1rem;
  overflow: scroll;
  height: 100%;
}

.aside--left, .aside--right {
  background: white;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.aside--left {}

.aside--right {
  transition: right 0.3s ease;
  right: -300px;
}

.main {
  width: calc(100vw - 600px);
  margin: 0 auto;
  padding: 0 10%;
}

.content {
  padding-top: 5rem;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.container--fluid {
  width: 100%;
  margin: 0 auto;
}

.container--dark {
  background: var(--background--dark);
  color: var(--font--default);
}

.content.content--edge {
  padding: 24px 0;
}

.content--default {
  background: var(--background--white);
  color: var(--font--dark);
}

.content--dark {
  background: var(--background--dark);
  color: var(--font--default);
}

/* GRID */

.grid {
  display: flex;
}

.grid>div {
  background: var(--oc-blue-4);
  color: var(--oc-gray-0);
  padding: 8px 8px;
  box-sizing: border-box;
  margin: 2px 0;
  border-radius: 3px;
}

.◼︎◼︎◼︎◼︎◼︎◼︎◼︎◼︎◼︎◼︎◼︎◼︎ {
  width: 100%;
}

.◼︎◼︎◼︎◼︎◼︎◼︎◼︎◼︎◼︎◼︎◼︎◻︎ {
  width: calc(100%/12*11);
}

.◼︎◼︎◼︎◼︎◼︎◼︎◼︎◼︎◼︎◼︎◻︎◻︎ {
  width: calc(100%/12*10);
}

.◼︎◼︎◼︎◼︎◼︎◼︎◼︎◼︎◼︎◻︎◻︎◻︎ {
  width: calc(100%/12*9);
}

.◼︎◼︎◼︎◼︎◼︎◼︎◼︎◼︎◻︎◻︎◻︎◻︎ {
  width: calc(100%/12*8);
}

.◼︎◼︎◼︎◼︎◼︎◼︎◼︎◻︎◻︎◻︎◻︎◻︎ {
  width: calc(100%/12*7);
}

.◼︎◼︎◼︎◼︎◼︎◼︎◻︎◻︎◻︎◻︎◻︎◻︎ {
  width: calc(100%/12*6);
}

.◼︎◼︎◼︎◼︎◼︎◻︎◻︎◻︎◻︎◻︎◻︎◻︎ {
  width: calc(100%/12*5);
}

.◼︎◼︎◼︎◼︎◻︎◻︎◻︎◻︎◻︎◻︎◻︎◻︎ {
  width: calc(100%/12*4);
}

.◼︎◼︎◼︎◻︎◻︎◻︎◻︎◻︎◻︎◻︎◻︎◻︎ {
  width: calc(100%/12*3);
}

.◼︎◼︎◻︎◻︎◻︎◻︎◻︎◻︎◻︎◻︎◻︎◻︎ {
  width: calc(100%/12*2);
}

.◼︎◻︎◻︎◻︎◻︎◻︎◻︎◻︎◻︎◻︎◻︎◻︎ {
  width: calc(100%/12*1);
}

@media (max-width: 800px) {
  .content {
    width: 90%;
    padding: 24px 10%;
  }
}
